body {
	margin: 0;
	padding: 0;
	border: none;
}

#logo {
	height: 85px;
	width: 85px;
}

.logo {
	flex-grow: 1;
	text-align: center;
}

.flexWrap {
	display: flex;  
	flex-flow: row wrap;
	flex: 1 auto;
}

.flexLogin {  
	flex-flow: row wrap;
	flex: 1 auto;
	margin: auto;
	width: 400px;
	height: 35px;
	border: solid 0.5px rgb(211,211,211); 
}

.login { 
	text-align: center;
	align-items: center;
/*
	margin: auto;
	width: 400px;
	height: 35px;
	border: solid 0.5px rgb(211,211,211); 
	flex: 0 1 auto;
*/
}

label {
	justify-content: center;
	padding: 12px; 
	padding-top: 10px;
	font-size: 18px;
}

.email {
	border-top-left-radius: 15px;
	border-top-right-radius: 15px;
}

.pass {
	border: solid 0.5px rgb(211,211,211); 
	border-bottom-left-radius: 15px;
	border-bottom-right-radius: 15px;
}

input {
	border: none;
	outline: none;
	caret-color: greenyellow;
	width: 60%;
}

input:focus {
	outline: none;
}

.signIn {
	outline: none;
    border: none;
    color: green;
    margin: 30%;
	width: 40%;
	height: 60px;
    text-align: center;
    text-decoration: none;
    font-size: 30px;
}

a {
	outline: none;
    border: none;
    color: green;
	width: 100%;
	height: 30px;
    text-align: center;
    text-decoration: none;
    font-size: 15px;
}

@media only screen and (max-device-width: 410px) {
	.flexLogin {  
	flex-flow: row wrap;
	flex: 1 auto;
	margin: auto;
	width: 80%;
	height: 35px;
	border: solid 0.5px rgb(211,211,211); 
	}

	input {
		border: none;
		outline: none;
		overflow: hidden;
		caret-color: greenyellow;
		width: 50%;
	}
}